.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headH1Pil{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: rgb(251, 249, 249);
}

.head {
    background-image: url('/img/pexels-ivan-samkov-4783969.jpg');
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 100vh;
    margin-bottom: 6rem;
    background-attachment: fixed;
    border-radius: 0.2rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    overflow: hidden; 
}

.headH1 {
    text-align: center;
    padding-top: 25rem;
    color: rgb(254, 254, 254);
    font-size: 6rem;
    text-shadow: 
        -1px -1px 0 #92916a,
        2px -2px 0 #7c6f48,
        -2px 2px 0 #6b6e47,
        3px 3px 0 rgb(179, 192, 125);
    white-space: nowrap; 
    overflow: hidden; 
    width: 0; 
    animation: typing 1.5s steps(22) forwards; 
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.input {
    font-size: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px white;
}


.kategoriesContainer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: fit-content; 
    max-width: fit-content;
    margin: 0 auto;
    place-items: center;
  
}

.kategoriesContainer{
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear{
    from{
        opacity: 0.9;
        scale: 0.6;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.kategories {
    position: relative; 
    list-style: none;
    border-radius: 1rem;
    width: fit-content;
    margin: 2rem;
    box-shadow: 9px 1px 5px rgb(198, 203, 178);
    text-align: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1.5rem;
    overflow: hidden; 
}


.kategories img {
    margin-top: 2rem;
    max-width: fit-content; 
    height: fit-content; 
    border-radius: 50%; 
}

.kategories img:hover {
    transform: scale(1.2); 
}

.link{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    font-size: 2.6rem;
    text-shadow: 
    -1px -1px 0 #030303,
    2px -2px 0 #050505,
    -2px 2px 0 #080808,
    2px 2px 0 #96987d;
}

.link:hover{
    text-decoration: underline;
}

