/* Återställ margin och padding för hela sidan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box; 
}

.headH1Pil{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: rgb(16, 9, 3);
}

.head {
    background-image: url('/img/pexels-mikhail-nilov-8093837.jpg');
    background-size: cover;
    width: 100vw; 
    height: 90vh; 
    margin-bottom: 6rem;
    background-attachment: fixed;
    border-radius: 0.2rem;
    overflow: hidden;
   
}

.headH1 {
    text-align: center;
    padding-top: 18rem;
    color: rgb(187, 94, 117);
    font-size: 7rem;
    text-shadow: 
        2px 2px 0 rgb(4, 2, 0),
        3px 3px 0 rgb(65, 11, 49);
    white-space: nowrap; 
    overflow: hidden; 
    width: 0; 
    animation: typing 2s steps(22) forwards; 
    font-family: "Lobster", sans-serif;
    font-style: normal;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.input {
    font-size: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px white;
}

.kategoriesContainer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: fit-content; 
    max-width: fit-content;
   
    place-items: center;
    margin-bottom: 3rem;
}

.kategoriesContainer {
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0.9;
        scale: 0.6;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.kategories {
    position: relative; 
    list-style: none;
    border-radius: 6rem;
    width: fit-content;
    margin: 2rem;
    box-shadow: 1px 1px 5px rgb(195, 188, 173);
    text-align: center;
    padding: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden; 
    z-index: 1;
}

.kategories::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.4;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
    border-radius: 1rem;
}

.kategories img {
    margin-top: 2rem;
    border-radius: 50%; 
    display: block;
    width: 200px;
    position: relative;
}

.kategories img:hover {
    transform: scale(1.6); 
    padding: 1rem;
}

.link {
    text-decoration: none;
    color: rgb(212, 84, 116);
    text-shadow: 
  
    1px 1px 0 rgb(4, 2, 0),
    
    1px 1px 0 rgb(20, 5, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 2rem;
}

.link:hover {
    font-size: 1.8rem;
    text-decoration: underline;
}



