.detailContainer {
    position: relative; 
    margin: 10rem auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 60%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgb(195, 188, 173);
    font-size: 1.1rem;
    font-weight: 560;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 1;
    
}
.detailContainer h1{
    font-family: "Lobster", sans-serif;
    color: rgb(212, 84, 116);
    text-shadow: 
    2px 2px 0 rgb(4, 2, 0),
    3px 3px 0 rgb(20, 5, 15);
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
}
.detailContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.6;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
    border-radius: 1rem; 
}

.detailContainer img {
    border-radius: 50%; 
    box-shadow: 3px 1px 5px rgb(242, 229, 204);
    width: 300px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative; 
    bottom: 0;
    width: 100%;
    padding: 2rem;
}
.link {
    color: black;
    font-weight:bolder;
    font-size: 1.2rem;
}
.link:hover{
    font-size: 1.4rem;
}

@media only screen and (max-width:600px){
    .detailContainer h1{
        font-size: 2rem;
        text-align: center;
    }

    .detailContainer img {
        width: 200px;
        position: relative;
        left: 2.5rem;
    }
}