
.resultsPageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.resultsMainContent {
    flex: 1;
    padding-top: 6rem; 
   
}


.resultsFooter {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
    margin-top: 20rem;
   
}

.resultText {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color: rgb(212, 84, 116);
    text-shadow: 
    2px 2px 0 rgb(4, 2, 0),
    3px 3px 0 rgb(20, 5, 15);
    margin-bottom: 4rem;
    text-decoration: underline;
}

.resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    cursor: pointer;
}

.ObjectContainer {
    position: relative;
    list-style: none;
    border-radius: 1rem;
    width: 500px;
    max-width: 75%;
    margin: 2rem;
    display: flex;
    box-shadow: 1px 1px 5px rgb(195, 188, 173);
    text-align: center;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2rem;
    overflow: hidden;
    color: black;
}

.ObjectContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
    border-radius: 1rem;
}

.resultContainer img {
    max-width: fit-content;
    height: fit-content;
    border-radius: 50%;
    width: 200px;
}

.resultContainer img:hover {
    transform: scale(1.2);
    box-shadow: 3px 1px 5px rgb(242, 229, 204);
}
.link {
    color: black;
    font-weight:bolder;
    font-size: 1.2rem;
}
.link:hover{
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .resultText{
        font-size: 1.7rem;
    }
    .resultContainer{
        padding: 0;
        width: 400px;
        height: fit-content;
    }
    .resultContainer img {
        width: 150px;
    }
    .ObjectContainer {
        font-size: 1rem;
    }
    .resultsFooter{
        padding: 2rem;
        width: fit-content;
        
    }
    
}   

