
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
  position: relative;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/pexels-taryn-elliott-4440171.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  -webkit-filter: blur(40px);
  z-index: -1;
}






